.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #c2e1f5;
  width: 100%;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 11px;
	margin-top: -11px;
}
